@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

body {
  font-family: 'IBM Plex Sans', "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; sans-serif;
}
code, kbd, pre, samp {
    font-family: 'IBM Plex Mono', Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, .h1 {
  font-size: 45px;
}

h2, .h2 {
  font-size: 35px;
}

pre {
  line-height: 1.5;
}
